:root {
    --loginbtn: #1967D2;
    --loginbtnHover: black;
}

.navContainer {
    position: fixed;
    top: 0;
    width: 75%;
    background-color: white;
    /* color: white; */
    height: 10%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 10px 10px 5px lightblue;
    z-index: 1000;
}

.navLogo {
    width: 15%;
    height: 100%;
}

.navLogo div {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navList {
    width: 55%;
    display: flex;
    /* background-color: blueviolet; */
    align-items: center;
    justify-content: center;
    height: 100%;
}

.navList ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navList ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 15px;
    cursor: pointer;
}

.navList ul li:hover {

    color: var(--loginbtn);
}

.navLogin {
    width: 25%;
    /* background-color: blue; */
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;

}



.navLogin button:hover {
    background-color: var(--loginbtnHover);
    color: white;
    transition: 0.4s all ease;
}